Meta
.Rproj.user
.Rhistory
.RData
inst/doc
.httr-oauth
.*.Rnb.cached
*.xlsx
*.pdf
*.log
structtoolbox.Rproj
*.Rproj
*.tiff
vignettes/.build.timestamp
*.xml
doc
vignettes/Bioconductor.sty
vignettes/unsrturl.bst
